body {
  margin: 0;
  padding:0px 30px;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  color: #5C6D74;
  min-height: 100vh;
  background: #034282;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3498db, #034282);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3498db, #034282); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#header {
  padding: 40px 20px;
  text-align: center
}
header h1 {
  font-size:4em;
  color:#ffcc00;
  text-shadow: 1px 1px #032a51;
  margin-bottom:0px;
}
header h2 {
  font-size:2em;
  color:#ddd;
  text-shadow: 1px 1px #032a51;
  margin-top:0px;
}
header p {
  font-size:1.2em;
  color:#fff;
}
header a {
  color:#fff;
}
footer {
  font-size:0.8em;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #4FA099;
}

#days {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section{
  padding:20px 20px;
  margin:10px;
  width:600px;
  height:100px;
  background-color: #fff;
  border-radius: 3px;
  border-bottom:solid 1px #032a51;
  border-right:solid 1px #032a51;
  display:flex;
  align-items: center;
}
section.unlereased {
  color: #9CaDc4;
}
section a {
  color: #5C6D74;
  text-decoration: none;
}
section a:hover {
  // color: #5C6D74;
  text-decoration: underline;
}
section .days{
  width:60px;
  margin:10px;20px;
  text-align: center;
  font-size: 1.2em;
}
section .days_num {
  font-size:2.5em;
}
section .writer {
  margin-left: 20px;
}
section h3 {
  font-size:2.3em;
  font-family: "PT Serif", serif;
  margin: 0px;
}
section p{
  margin:0px;
  font-size:1.2em;
  font-family: "PT Serif", serif;
}
@media (max-width: 700px) {
  section {
    width: 100%;
  }
  section h3 {
    font-size:1.8em;
  }

}